<!--recibire una lista de categoria-->
@model IEnumerable<NoticiasWeb.Models.Categoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Categoria</h2>

@Html.ActionLink("Agregar Categoria", "Alta");

<h5>Se mostrara lista de categoria enseguida</h5>
<ul>
    @foreach (var categoria in Model)
    {
    
        <li id="@categoria.Categoria_Id">
            @categoria.NombreCategoria | @Html.ActionLink("Editar", "Editar", new {id=@categoria.Categoria_Id}) |<a href="#" class="eliminar" data-id="@categoria.Categoria_Id">Eliminar</a>@*@Html.ActionLink("Baja", "Baja", new { id = @categoria.Categoria_Id })*@
        </li>
    }
</ul>
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                ¿Esta seguro que queire eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEliminar" data-eliminar="">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.eliminar').click(function () {
        var idEliminar = $(this).attr("data-id");
        $("#btnEliminar").attr("data-eliminar", idEliminar);
        $("#myModal").modal();
    });
   
    $("#btnEliminar").click(function () {
        var idEliminar = $(this).attr("data-eliminar");
        $.ajax({
            url: '/Categoria/Eliminar',
            type: 'get',
            data: { id: idEliminar },
            dataType: 'json',
            success: function (result) {
                console.log("Exito");
                //buscar el Id y eliminar ese nodo de la lista
                $("#" + idEliminar).remove();
                $("#myModal").modal('hide');
            },
            error: function () {
                console.log("fallo");
            }
        });
    });
</script>