@model NoticiasWeb.Models.Seccion
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Seccion</h2>

@using (Html.BeginForm())
{
    <label>Id:</label>
    @Html.HiddenFor(x => x.Seccion_Id) <br />
    
    <label>Nombre: </label>
    @Html.TextBoxFor(x => x.NombreSeccion)
    @Html.ValidationMessageFor(model => model.NombreSeccion)<br />

    <label>Descripcion</label>
    @Html.TextBoxFor(x => x.DescripcionSeccion)
    @Html.ValidationMessageFor(model => model.DescripcionSeccion)<br />


    <input type="submit" value="Guardar Cambios" />
    @Html.ActionLink("Cancelar", "Index")
}